<div class="main-wrapper">

    <div class="alert-container">

        <div class="laser-scanner">
            <div class="laser-tail"></div>
        </div>

        <div class="content">

          <div class="icon-wrapper">
            <span class="material-symbols-outlined icon-ping icon-color">{{ icon | default('monitoring') }}</span>

            <span class="material-symbols-outlined icon-animated">{{ icon | default('monitoring') }}</span>
          </div>

          <div class="alert-text">
            <span class="alert-title">{{ title | default('Metric_label') }}</span>
            <span class="alert-subtitle">{{ subtitle | default('subtitulo de prueba') }}</span>
          </div>
        </div>

        <div class="actions">

        <div class="button-ok btn-glow">
            <a href="{{ url_for('equipo.index') }}">
                <i></i><i></i>
                <span>Terminar</span>
            </a>
        </div>

        </div>


    </div>

</div>