<!--
Este componente ahora solo representa UNA tarjeta.
El contenedor de la grilla (nodo-grid) se moverá al template padre (jerarquias.html).
-->
<div class="nodo-card" style="--neon: {{ jerarquia.color_hex | default('#A3FF00') }};">
    <!-- Encabezado de Rango -->
    <div class="card-header ">
        <span class="id-tag counter">LVL_{{ jerarquia.nivel_acceso }}</span>
    </div>

    <h3 class="rank-name text-7xl">{{ jerarquia.nombre_jerarquia }}</h3>
    <p class="rank-subtitle">{{ jerarquia.subtitulo_jerarquia }}</p>

    <div class="card-body">
        <p class="rank-description">{{ jerarquia.descripcion_jerarquia | truncate(120) }}</p>
    </div>

    <!-- Sección para mostrar los protocolos asociados como tags -->
    <div class="card-tags-section">
        <div class="card-tags">
            {% if jerarquia.protocolos %}
                {% for protocolo in jerarquia.protocolos %}
                    <span class="tag">{{ protocolo.codigo_protocolo.codigo }}</span>
                {% endfor %}
            {% else %}
                <span class="tag tag-empty">SIN_PROTOCOLOS</span>
            {% endif %}
        </div>
    </div>

    <!-- Indicador de Peso de Autoridad -->
    <div class="card-footer">
        <div class="stat-bar" style="--auth-weight: {{ jerarquia.nivel_acceso }}%;">
            <div class="fill"></div>
        </div>
        <span class="footer-label">AUTH_WEIGHT</span>
    </div>


    <div class="action-group">
                    <!-- Botón Editar -->
                    <button class="action-btn edit-btn"
                            onclick="openUpdateModal(this)"
                            data-id="{{ jerarquia.id_jerarquia }}"
                            data-nombre="{{ jerarquia.nombre_jerarquia }}"
                            data-subtitulo="{{ jerarquia.subtitulo_jerarquia }}"
                            data-nivelJerarquia="{{ jerarquia.nivel_acceso }}"
                            data-colorJerarquia="{{ jerarquia.color_hex }}"
                            data-descripcionJerarquia="{{ jerarquia.descripcion_jerarquia }}"
                            data-protocolos="{{ jerarquia.protocolos|map(attribute='id_protocolo')|join(',') }}"
                            title="EDIT_NODE">
                      <span class="material-symbols-outlined">edit</span>
                    </button>

                    <!-- Botón Eliminar -->
                    <button class="action-btn delete-btn"
                            title="PURGE_NODE"
                            onclick="openDeleteModal('{{ url_for('jerarquia.delete', id_jerarquia=jerarquia.id_jerarquia) }}', '{{ jerarquia.nombre_jerarquia | upper }}')">
                      <span class="material-symbols-outlined">delete</span>
                    </button>

                </div>


</div>