<!-- 1. Cabecera de la sección (Reutilizando estilos de intro_card) -->
<div class="intro_card">
    <div class="intro_main">
{#        <div class="command">#}
{#            <div class="command__code intel-badge">#}
{#                <p class="text_code">SYSTEM_CONFIG_0X01</p>#}
{#            </div>#}
{#        </div>#}

        <!-- Título Principal con Atributo de Datos para el Glitch -->
        <h2 class="glitch-title" data-text={{ page_title }}>
            {{ page_title }}
        </h2>

    </div>
</div>