
{% if not protocolos %}
    <div class="error-container">
        {%  include 'components/error-datos.html'%}
    </div>
{% else %}

    <div class="protocol-grid">
    {% for protocolo in protocolos %}

    <!-- PROTOCOLO DE SISTEMA -->
        <div class="protocol-card {{ protocolo.categoria_protocolo.value }}">

            <div class="card-edge"></div>

            <div class="card-content">

                <header class="protocol-header">
                    <span class="category-tag">{{ protocolo.categoria_protocolo.value | upper}}_CORE</span>
                    <div class="status-indicator">
                        <span class="pulse-dot"></span>
                        ENCRYPTED
                    </div>
                </header>

                <div class="protocol-body">
                    <h3 class="protocol-id">{{ protocolo.nombre_protocolo | upper}}</h3>
                    <p class="protocol-desc">{{ protocolo.descripcion_protocolo }}</p>
                </div>

                <footer class="protocol-footer">
                    <div class="bit-stream">01011101 00101010 11010100</div>

                    <div class="auth-key"> KEY_0x_ID_{{ protocolo.codigo_protocolo.value[0] | upper }}</div>
                </footer>

                {% if access_value in Profiles.ROOT %}
                <div class="action-group">
                    <!-- Botón Editar -->
                    <button class="action-btn edit-btn"
                            onclick="openUpdateModal(this)"
                            data-id="{{ protocolo.id_protocolo }}"
                            data-nombre="{{ protocolo.nombre_protocolo }}"
                            data-codigo="{{ protocolo.codigo_protocolo.value[0] }}"
                            data-categoria="{{ protocolo.categoria_protocolo.value }}"
                            data-descripcion="{{ protocolo.descripcion_protocolo }}"
                            title="EDIT_NODE">
                      <span class="material-symbols-outlined">edit</span>
                    </button>

                    <!-- Botón Eliminar -->
                    <button class="action-btn delete-btn"
                            title="PURGE_NODE"
                            onclick="openDeleteModal('{{ url_for('protocolo.delete', id_protocolo=protocolo.id_protocolo) }}', '{{ protocolo.nombre_protocolo | upper }}')">
                      <span class="material-symbols-outlined">delete</span>
                    </button>

                </div>
                {% endif %}


            </div>

        </div>

    {% endfor %}
    </div>

{% endif %}
