<!-- Contenedor General -->
<div class="nodo-grid">


    {% for role in roles %}
        <div class="nodo-card {{ role.especialidad_rol.color }}">

            <div class="card-header">
                <span class="id-tag">ARC-{{ role.nombre_rol[:4] | upper }}</span>
                <div class="status-dot"></div>
            </div>

            <h3 class="rank-name" >{{ role.nombre_rol | upper }}</h3>
            <p class="rank-subtitle" >{{ role.especialidad_rol.titulo | upper}}</p>
            <div class="stat-bar"><div class="fill" style="width: 100%;"></div></div>
            <p class="rank-description">{{ role.descripcion_rol }}</p>

            <div class="action-group">
                <!-- Botón Editar -->
                <button class="action-btn edit-btn" 
                        onclick="openUpdateModal(this)" 
                        data-id="{{ role.id_rol }}"
                        data-nombre="{{ role.nombre_rol }}"
                        data-especialidad="{{ role.especialidad_rol.titulo }}"
                        data-descripcion="{{ role.descripcion_rol }}"
                        title="EDIT_NODE">
                  <span class="material-symbols-outlined">edit</span>
                </button>

                <!-- Botón Eliminar -->
                <button class="action-btn delete-btn" 
                        title="PURGE_NODE"
                        onclick="openDeleteModal('{{ url_for('roles.delete', id_rol=role.id_rol) }}', '{{ role.nombre_rol | upper }}')">
                  <span class="material-symbols-outlined">delete</span>
                </button>
                
            </div>

        </div>
    {% endfor %}


</div>