@use "../base/variables";
@use "../base/mixins";
@use "../base/functions";


.nodo-grid {
  //background-color: orangered;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(max(250px, 22%), 1fr));
  gap: 20px;
  margin: 0 auto;
  justify-content: center;
  //align-items: stretch;
}

/* Estilo Base de la Tarjeta */
.nodo-card {
  --neon: #ffffff;
  display: flex;
  flex-direction: column;
  background: variables.$background-soft;
  padding: 25px;
  position: relative;
  overflow: hidden;
  transition: all 0.4s ease;
  &::before{
    content: '';
    position: absolute;
    inset: 0; // Ocupa el mismo espacio que el padre
    z-index: 0; // Se coloca detrás del contenido
    border: 1px solid var(--neon);
    clip-path: polygon(15% 0, 100% 0, 100% 85%, 85% 100%, 0 100%, 0 15%);
    transition: clip-path 0.5s cubic-bezier(0.77, 0, 0.175, 1), border-color 0.5s ease;
  }
  &:hover::before {
    border-color: var(--neon);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5), inset 0 0 15px rgba(var(--neon), 0.1);
    clip-path: polygon(0 0, 50% 0, 100% 60%, 100% 100%, 60% 100%, 0 10%);
    }
}

/* Colores por Arquetipo */
.frontLineDefense  { --neon: #A3FF00; }
.neuralStealth     { --neon: #D500F9; }
.environmentMastery { --neon: #00E5FF; }
.kineticOverload { --neon: #FF3D00; }
.dataForesight    { --neon: #FFD600; }
.systemDisruption { --neon: #2979FF; }
.neuralRestoration{ --neon: #00FFC8; }
.spatialDislocation{ --neon: #9D00FF; }
.temporalLagInfliction{ --neon: #FF0055; }
.kineticAbsorption{ --neon: #FF9100; }


/* Hover: Activación de Neón */
.nodo-card:hover {
  transform: translateY(-5px);
  background: linear-gradient(135deg, variables.$background-soft 0%, #050601 100%);
}

/* Cabecera de la tarjeta */
.card-header {
  //background-color: lightblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.id-tag {
  font-size: functions.font-size('2xs');
  font-weight: 800;
  letter-spacing: 2px;
  color: var(--neon);
  font-family: variables.$font-display;
}

.status-dot {
  width: 6px;
  height: 6px;
  background-color: var(--neon);
  border-radius: 50%;
  box-shadow: 0 0 10px var(--neon);
}

/* Icono central */
.icon-box {
  //font-size: 40px;
  //margin-bottom: 15px;
  //filter: drop-shadow(0 0 10px var(--neon));
  //opacity: 0.8;
  //transition: opacity 0.3s;
}

.role-card:hover .icon-box {
  opacity: 1;
}

/* Textos */
.rank-name {
  font-size: functions.font-size('2xl');
  font-weight: 900;
  letter-spacing: -1px;
  margin: 0 0 5px 0;
  font-style: italic;
}

/* Sección de información (título/subtítulo) */
.card-info-section {
  margin-bottom: 20px;
}

.user-avatar-container{
  @include mixins.center-flex($justify:center);
  margin-bottom: 1.5rem;
}

.user-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid var(--neon);
  background-color: var(--bg-dark);
  box-shadow: 0 0 20px rgba(var(--neon), 0.4);
}


.rank-subtitle {
  font-size: functions.font-size('2xs');
  font-weight: 800;
  color: var(--neon);
  letter-spacing: 3px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.rank-description {
  font-size: functions.font-size('xs');
  line-height: 1.5;
  color: #888;
  //color: variables.$text-dim;
  margin-top: 15px;
  text-transform: uppercase;
  font-family: variables.$font-secondary;
}
.counter {
  //background-color: orangered;
  padding-top: 1rem;
}

/* Barra de nivel / potencia */
.stat-bar {
  width: 100%;
  height: 5px;
  background: rgba(128, 128, 128, 0.2);
  margin-top: 10px;
}

.stat-bar .fill {
  height: 100%;
  background-color: var(--neon);
  box-shadow: 0 0 10px var(--neon); /* Efecto de brillo */
  width: var(--auth-weight, 0%);
  transition: width 0.5s ease-out; /* Animación suave al cambiar el valor */
}

.item-tags {
  //background-color: hotpink;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.tag {
  font-family: variables.$font-display;
  font-size: functions.font-size('3xs');
  border: 1px solid var(--border-white);
  padding: 0.25rem 0.5rem;
  color: variables.$text-gray;
  background: rgba(255, 255, 255, 0.03);
}

/* TABLA DE SPECS */
.tech-specs {
  background: rgba(0,0,0,0.2);
  border: 1px solid var(--border-white);
  padding: 10px;
}

/* el cuerpo de la tarjeta ocupa el espacio sobrante */
.nodo-card .card-body {
  flex-grow: 1;
}

.spec-row {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

.spec-row:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.03);
}

.spec-row .label {
  font-family: variables.$font-display;
  font-size: 8px;
  color: variables.$text-dim;
}

.spec-row .value {
  font-family: variables.$font-display;
  font-size: 9px;
  color: white;
  font-weight: bold;
}

.status-estable { color: #A3FF00 !important; }
.status-degraded { color: #FF3E3E !important; animation: blink 1.5s infinite; }

@keyframes blink {
  50% { opacity: 0.4; }
}


/* Engine icon*/
.engine-icon {
  @include mixins.center-flex($justify:center);
  width: 40px;
  height: 40px;
  border: 2px solid var(--neon);
  background: rgba(0,0,0,0.3);
}

.engine-icon span {
  color: var(--neon);
  font-size: functions.font-size('xl');
}




/* Footer y Barra de Progreso */
.card-footer {
  //background-color: yellow;
  margin-top: auto;
  padding-top: 1rem;
  border-top: 1px solid var(--border-white);
  gap: 10px;
  @include mixins.center-flex($justify:space-between);
}
.footer-label {
  //background-color: red;
  font-family: variables.$font-display;
  @include mixins.center-flex($justify:center);
  height: 100%;
  font-size: 8px;
  color: variables.$text-dim;
}

.progress-container {
  //height: 4px;
  //background: rgba(255, 255, 255, 0.05);
  //flex: 1;
  //margin-right: 1rem;
  //border-radius: 2px;
  //overflow: hidden;
}

.progress-bar {
  //height: 100%;
  //box-shadow: 0 0 10px currentColor;
}




/* El grupo de botones oculto por defecto */
.action-group {
  position: absolute;
  top: 20px;
  right: 40px;
  display: flex;
  gap: 8px;
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.4s cubic-bezier(0.16, 1, 0.3, 1);
  z-index: 10;
}

/* Mostrar botones al hacer hover en la tarjeta */
.nodo-card:hover .action-group {
  opacity: 1;
  transform: translateY(0);
}




.arena-wrapper{
  display: flex;
  gap: 20px;
  padding: 2rem;
  @include mixins.center-flex($justify:center);
  
  .arena-stat {
    background: red;
    background: rgba(0, 0, 0, 0.3);
    padding: 0.75rem;
    border-left: 2px solid var(--primary);
  }
  .secondary{
    border-left-color: var(--secondary);
  }
  .stat-label{
    font-family: var(--font-display);
    font-size: 0.5rem;
    color: #4b5563;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 0.25rem;
  }
  .stat-value{
    font-family: var(--font-display);
    font-weight: 900;
    font-size: 1.2rem;
    color: white;
    font-style: italic;
  }
  
}
.status-tournament{
  //background-color: orangered;
  width: 100%;
  @include mixins.center-flex($justify:flex-end);
  
  
  .status-live{
    background-color: red;
    animation: pulse-live 1.5s infinite;
  }
  .status-draft{
    background-color: cadetblue;
  }
  .status-open{
    background-color: green;
  }
  .status-finished{
    background-color: variables.$background-dark;
    color: variables.$text-dim;
  
  }
  @keyframes pulse-live {
    0% { opacity: 1; }
    50% { opacity: 0.6; }
    100% { opacity: 1; }
}
}
