{% extends 'layout.html' %}

{% block title %}Crear Tarea{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4 offset-md-4 my-auto">
            <div class="card">
                <div class="card-header">
                    <h1>Nueva Tarea</h1>
                </div>
                <div class="card-body">

                    <form action="{{ url_for('roles.create') }}" method="post">
                        <fieldset>
                            <legend>
                                Crear roles
                            </legend>

                            <div>
                                <label class="col-form-label mt4">Rol</label>

                                <!-- Input con Datalist: Permite elegir o escribir uno nuevo -->
                                <input list="roles_sugeridos" name="nombre_de_rol" class="form-control" placeholder="Selecciona o escribe un nuevo rol..." required>
                                
                                <datalist id="roles_sugeridos">
                                    {% for rol in roles_listado %}
                                        <option value="{{ rol.value }}">{{ rol.value|capitalize }}</option>
                                    {% endfor %}
                                </datalist>
                            </div>

                            <div>
                                <label class="col-form-label mt4">Descripcion</label>
                                <textarea name="descripcion_de_rol" rows="2" class="form-control"></textarea>
                            </div>

                        </fieldset>

                        <button type="submit" class="btn btn-primary mt-3">Guardar</button>

                    </form>

                </div>
            </div>
        </div>
    </div>
{% endblock %}