{% extends 'layout.html' %}

{% block title %}
	Command suite
{% endblock %}

{% block content %}
	<div class="command-center">
        <div class="command-center__sidebar">
            <!-- Bloque 'command-suite': Componente de navegación -->
            <div class="command-suite">

                <div class="command-suite__header">
                    <div class="command-suite__wrapper">
                        <div class="command-suite__logo iso-logo"></div>
                        <div class="command-suite__branding">
                            <div class="command-suite__title">
                                <h1>Arkadex</h1>
                            </div>
                            <div class="command-suite__tag">
                                <p>command_suite</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="command-suite__main">

                    {% for title in menu_titles %}
                        {% with name_section=title.name_section %}
                            {%  include 'components/main_menu.html' %}
                        {% endwith %}
                    {% endfor %}

                </div>

                <div class="command-suite__footer">
                    <div class="command-suite__group clip-btn">
                        <div class="button-abort ">
                            <div class="icon_abort">
{#                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-box-arrow-right" viewBox="0 0 16 16">#}
{#                                  <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"/>#}
{#                                  <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>#}
{#                                </svg>#}

                                <span class="material-symbols-outlined card-bg-icon">logout</span>

                            </div>
                            <p class="text_abort">ABORT_SYSTEM</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="command-center__viewport">

            <div class="command-center__title-bar">

                <div class="title-breadcrumbs">
                    <div class="command-center__routes routes">
                        <div class="icon_routes">

                            <span class="material-symbols-outlined card-bg-icon">terminal</span>

                        </div>
                        <div class="text_routes">
                            <P class="text_code">ARKADEX_SYSTEM_0X92 // </P>
                            <p class="status-code">SECTOR_ACCESS_GRANTED:</p>
                        </div>

                        <div class="route">
                            <P class="text_normal">{{ page_data }}</P>
                        </div>

{#                        <h2 class="glitch-title font-display" data-text="CLEARANCE_LEVELS">#}
{#                          CLEARANCE_LEVELS#}
{#                        </h2>#}

                    </div>


{#                    <header class="admin-header">#}
{#                      <div class="header-main">#}
{#                        <!-- Indicador de Estatus Superior -->#}
{#                        <div class="sector-status">#}
{#                          <span class="pulse-dot"></span>#}
{#                          <p class="status-code">SECTOR_ACCESS_GRANTED: CLEARANCE_LEVELS</p>#}
{#                        </div>#}
{##}
{#                        <!-- Título Principal con Atributo de Datos para el Glitch -->#}
{#                        <h2 class="glitch-title font-display" data-text={{ page_title }}>#}
{#                            {{ page_title }}#}
{#                        </h2>#}
{#                      </div>#}
{#                    </header>#}


                </div>

                <div class="sync-status">
                    <!-- Contenedor del icono con doble capa -->
                    <div class="icon-pulse">
                        <span class="material-symbols-outlined ping-layer">sensors</span>
                        <span class="material-symbols-outlined blink-layer">sensors</span>
                    </div>

                    <!-- Texto de estado -->
                    <span class="sync-text">
                    CORE_SYNC: <span class="status-optimal">OPTIMAL</span>
                    </span>
                </div>

                <div class="user">
                    <div class="header-actions">
                        <!-- Divisor técnico vertical -->
                        <div class="vertical-divider"></div>

                        <!-- Botón de Perfil Neural -->
                        <button class="profile-trigger">
                            <div class="trigger-overlay"></div>
                            <span class="material-symbols-outlined user-icon">account_circle</span>

                            <!-- Elementos decorativos de esquina -->
                            <div class="corner-accent"></div>
                        </button>
                    </div>
                </div>
            </div>

            <div class="command-center__body">

                {% block dashboard_body %}
                	<div class="intro_card">

                    <div class="intro_main">


{#                        contenido del banner#}

                        <div class="command">

                            <div class="command__code intel-badge">
                                <p class="text_code">INTELLIGENCE_STREAM_0X82</p>
                            </div>

                            <div class="command__link">
                                <div class="text_link">
                                    <p class="text_code">LINK:</p>
                                </div>

                                <div class="type_command">
                                    <p class="text_normal">ENCRYPTED_MASTERMODE</p>
                                </div>
                            </div>

                        </div>

{#                        <div class="command__title">#}
{#                            <h2 class="title">{{ page_title }}</h2>#}
{#                        </div>#}

                        <!-- Título Principal con Atributo de Datos para el Glitch -->
                        <h2 class="glitch-title font-display" data-text={{ page_title }}>
                            {{ page_title }}
                        </h2>
                    </div>

                    <div class="intro_status">
                        <div class="metrics-container">
                            <!-- Reloj del Sistema -->
                            <p class="system-clock">
                                LOCAL_CLOCK: <span class="clock-value">14:20:05</span>
                            </p>

                            <!-- Latencia de Sincronización -->
                            <div class="sync-delay">
                                <span class="delay-label">SYNC_DELAY:</span>
                                <span class="delay-value">0.024ms</span>
                            </div>
                        </div>
                    </div>

                </div>

    {#                Tarjetas de mainHub metricas#}

                    <div class="metric-card">
                        {% block metricCard %}
                            {% for card in metric_cards %}
                                {% with label=card.label, value=card.value, trend=card.trend, icon=card.icon, color_class=card.color_class %}
                                    {% include 'components/metric-card.html' %}
                                {% endwith %}
                            {% endfor %}
                        {% endblock %}
                    </div>

                    <div class="tactical-card">
                        {% block tacticalCard %}
                            {% include 'components/tactical-card.html' %}
                        {% endblock %}
                    </div>

                    <div class="subjects-card">
                    {% block subjectCard %}
                        {% include 'components/subjects-card.html' %}
                    {% endblock %}
                </div>
                {% endblock %}

            </div>

        </div>







{#        <div class="prueba">#}



{#        Alertas de ventana#}


{#        {% block alertContainer %}#}
{##}
{#            <!-- Si existe una alerta específica para esta URL (alert_finish), la mostramos -->#}
{#            {% if alert_finish %}#}
{#                {% with icon=alert_finish.icon, title=alert_finish.title, subtitle=alert_finish.subtitle %}#}
{#                    {% include 'components/alert-container.html' %}#}
{#                {% endwith %}#}
{#            {% endif %}#}
{##}
{#        {% endblock %}#}


{#        </div>#}
    </div>
{% endblock %}