{% extends 'layout.html' %}

{% block title %}
	Command suite
{% endblock %}

{% block content %}
	<div class="command-center">
        <div class="command-center__sidebar">
            <!-- Bloque 'command-suite': Componente de navegación -->
            <div class="command-suite">

                <div class="command-suite__header">
                    <div class="command-suite__wrapper">
                        <div class="command-suite__logo iso-logo"></div>
                        <div class="command-suite__branding">
                            <div class="command-suite__title">
                                <h1>Arkadex</h1>
                            </div>
                            <div class="command-suite__tag">
                                <p>command_center</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="command-suite__main">

                    {% for title in menu_titles %}
                        {% with name_section=title.name_section %}
                            {%  include 'components/main_menu.html' %}
                        {% endwith %}
                    {% endfor %}

                </div>

                <div class="command-suite__footer">
                    <div class="command-suite__group clip-btn">
                        <div class="button-abort ">
                            <div class="icon_abort">
{#                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-box-arrow-right" viewBox="0 0 16 16">#}
{#                                  <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"/>#}
{#                                  <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>#}
{#                                </svg>#}

                                <span class="material-symbols-outlined card-bg-icon">logout</span>

                            </div>
                            <p class="text_abort">ABORT_SYSTEM</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="command-center__viewport">
            <div class="command-center__routes">
                <div class="icon_routes">
                    <!-- Eliminamos fill="#A3FF00" para controlarlo por CSS -->
{#                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-terminal" viewBox="0 0 16 16">#}
{#                      <path d="M6 9a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3A.5.5 0 0 1 6 9M3.854 4.146a.5.5 0 1 0-.708.708L4.793 6.5 3.146 8.146a.5.5 0 1 0 .708.708l2-2a.5.5 0 0 0 0-.708z"/>#}
{#                      <path d="M2 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2zm12 1a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1z"/>#}
{#                    </svg>#}

                    <span class="material-symbols-outlined card-bg-icon">terminal</span>

                </div>
                <P class="text_normal"><span class="text_code">ARKADEX_SYSTEM_0X92 /</span> NEURAL_PROFILES</P>
            </div>
            <div class="lore"></div>
            <div class="command-center__user"></div>
        </div>
        <div class="prueba">

{#        Tarjetas de mainHub metricas#}

{#        {% block metricCard %}#}
{#            <div class="d-flex gap-4">#}
{#                {% for card in metric_cards %}#}
{#                    {% with label=card.label, value=card.value, trend=card.trend, icon=card.icon, color_class=card.color_class %}#}
{#                        {% include 'components/metric-card.html' %}#}
{#                    {% endwith %}#}
{#                {% endfor %}#}
{#            </div>#}
{#        {% endblock %}#}


{#        Alertas de ventana#}


{#        {% block alertContainer %}#}
{##}
{#            <!-- Si existe una alerta específica para esta URL (alert_finish), la mostramos -->#}
{#            {% if alert_finish %}#}
{#                {% with icon=alert_finish.icon, title=alert_finish.title, subtitle=alert_finish.subtitle %}#}
{#                    {% include 'components/alert-container.html' %}#}
{#                {% endwith %}#}
{#            {% endif %}#}
{##}
{#        {% endblock %}#}


        </div>
    </div>
{% endblock %}