{% extends 'dashboard/index.html' %}

{% block title %}REGISTROS | GameBass{% endblock %}

{% block dashboard_body %}

    {% block alertContainer %}
        {% if alert_finish %}
            {% with icon=alert_finish.icon, title=alert_finish.title, subtitle=alert_finish.subtitle, btn_info=alert_finish.btn_info, modal_target=None %}
                {% include 'components/alert-container.html' %}
            {% endwith %}
        {% endif %}
    {% endblock %}

    {% include 'components/header-section.html' %}

    <div class="nodo-grid">
        <!-- CONTENEDOR PRINCIPAL DE REGISTROS -->
        <div class="registros-view">
            <!-- GRID DE INTERACCIÓN -->
            <form action="{{ url_for('registro.create') }}" method="POST" class="registros-form" id="registrationForm">

            <!-- PANEL IZQUIERDO: SELECCIÓN DE PROTOCOLO -->
            <div class="protocol-panel">
                <div class="panel-card">
                    <h4 class="panel-title">
                        SELECCIÓN_DE_PROTOCOLO
                    </h4>



                    <!-- GRUPO DE RADIOS PARA MODO DE JUEGO -->
                    <div class="protocol-options">



                        <!-- 1. Opción Individual -->
                        <div class="option-wrapper">
                            <input type="radio" name="modo_registro" id="mode_individual" value="individual" class="sr-only"
                                   checked>
                            <label for="mode_individual" class="protocol-btn">
                                <span class="material-symbols-outlined">person</span>
                                <div class="btn-text">
                                    <p class="btn-title">INDIVIDUAL_UPLINK</p>
                                    <p class="btn-subtitle">Sincronía de ADN único</p>

                                </div>
                            </label>
                        </div>

                        <!-- 2. Opción Equipo -->
                        <div class="option-wrapper">
                            <input type="radio" name="modo_registro" id="mode_equipo" value="equipo" class="sr-only">
                            <label for="mode_equipo" class="protocol-btn">
                                <span class="material-symbols-outlined">groups</span>
                                <div class="btn-text">
                                    <p class="btn-title">TACTICAL_SQUAD_SYNC</p>
                                    <p class="btn-subtitle">Enlace de facción grupal</p>
                                </div>
                            </label>

                            <div class="team-selector">
                                <label class="selector-label">SELECCIONAR UNIDAD DE COMBATE</label>
                                <select name="id_equipo" class="cyber-select">
                                    <option value="" disabled selected>-- SELECCIONAR EQUIPO --</option>
                                    {% if equipos %}
                                        {% for equipo in equipos %}
                                            {% if current_user.id_usuario in equipo.miembros|map(attribute= "id_usuario") %}
                                                <option value="{{ equipo.id_equipo }}">{{ equipo.nombre_equipo }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        <option value="" disabled>NO TIENES EQUIPOS ACTIVOS</option>
                                    {% endif %}
                                </select>
                                <p class="selector-hint">* Requerido para protocolo grupal {{ advertencia }}</p>
                            </div>



                        </div>

                        <div class="option-wrapper">
                            <label class="selector-label">SELECCIONAR ROL DE JUEGO</label>
                            <select name="id_rol" class="cyber-select">
                                <option value="" disabled selected>-- SELECCIONAR ROL --</option>
                                {% for rol in roles %}
                                    <option value="{{ rol.id_rol }}">{{ rol.nombre_rol }}</option>
                                {% endfor %}
                            </select>

                        </div>

                            <a class="btn-ghost" href="{{ url_for('equipo.index') }}">UNIRSE A UN EQUIPO</a>

                    </div>

                    <!-- Footer de Selección -->
                    <div class="panel-footer">
                        <div class="status-row">
                            <p class="status-label">ESTADO_DEL_ENLACE</p>
                            <p class="status-value">ESPERANDO_CONFIRMACIÓN...</p>
                        </div>

                        <button type="submit" class="cyber-button-submit">
                            CONFIRMAR_ENLACE
                        </button>
                    </div>
                </div>
            </div>

            <!-- PANEL DERECHO: DETECTOR DE ARENAS -->
            <div class="arenas-panel">
                <div class="arenas-header">
                    <h4>ARENAS_DETECTOR_v1.0</h4>
                    <p>Detectando señales de conflicto...</p>
                </div>

                <div class="arenas-grid">

                    {% if torneos %}
                        {% for torneo in torneos %}



                            <div class="arena-card-wrapper">


                                <input type="radio" name="id_torneo" id="torneo_{{ torneo.id_torneo }}" value="{{ torneo.id_torneo }}" class="sr-only" required>
                                <label for="torneo_{{ torneo.id_torneo }}" class="arena-card">
                                        <div class="card-header">
                                            <span class="id-tag text-xl" style="color: {{ torneo.juego.color_juego }};">{{ torneo.juego.nombre_juego | upper }}</span>
                                            <div class="card-badges">
                                                <span class="badge-count">
                                                  {{ torneo.registros|length }}/{{ torneo.max_competidores }}
                                               </span>
                                            </div>
                                        </div>

                                        <div class="card-info">
                                            <h3 class="rank-name">{{ torneo.nombre_torneo }}</h3>
                                            <p class="rank-subtitle">Recompensa: {{ torneo.recompensa_torneo }}</p>
                                        </div>

                                        <div class="selection-indicator">
                                            <span class="material-symbols-outlined">check_circle</span>
                                        </div>

                                </label>


{#
                                <input type="radio" name="id_torneo" id="torneo_{{ torneo.id_torneo }}" value="{{ torneo.id_torneo }}" class="sr-only" required>

                                <label for="torneo_{{ torneo.id_torneo }}" class="arena-card">

                                    <div class="card-image-container">
                                        <!-- Imagen dinámica -->
                                        <img src="{{ url_for('static', filename='uploads/torneos/' ~ torneo.imagen) if torneo.imagen else 'https://loremflickr.com/600/400/gaming,scifi,cyberpunk/all?lock=' ~ torneo.id_torneo }}"
                                             class="card-img"/>

                                        <div class="card-overlay"></div>
                                        <div class="card-badges">
                                           <span class="badge-game">
                                              {{ torneo.juego.nombre_juego if torneo.juego else 'UNKNOWN' }}
                                           </span>
                                                        <span class="badge-count">
                                              {{ torneo.registros|length }}/{{ torneo.max_competidores }}
                                           </span>
                                        </div>
                                    </div>

                                    <div class="card-content">
                                        <h5>{{ torneo.nombre_torneo }}</h5>
                                        <p>PRIZE: <span>{{ torneo.recompensa_torneo }}</span></p>
                                    </div>

                                    <div class="selection-indicator">
                                        <span class="material-symbols-outlined">check_circle</span>
                                    </div>
                                </label>
                            #}

                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="no-signals">
                            <p>NO_ARENA_SIGNALS_DETECTED</p>
                        </div>
                    {% endif %}
                </div>



            </div>
        </form>
        </div>

    </div>

{% endblock %}