{% extends 'dashboard/index.html' %}

{% block title %}Roles | Arkadex{% endblock %}

{% block dashboard_body %}

    <div class="prueba">



{#    Alertas de ventana#}


    {% block alertContainer %}

        <!-- Si existe una alerta específica para esta URL (alert_finish), la mostramos -->
        {% if alert_finish %}
            {% with icon=alert_finish.icon, title=alert_finish.title, subtitle=alert_finish.subtitle %}
                {% include 'components/alert-container.html' %}
            {% endwith %}
        {% endif %}

    {% endblock %}

    </div>

    
    <!-- 1. Cabecera de la sección (Reutilizando estilos de intro_card) -->
    <div class="intro_card mb-4">
        <div class="intro_main w-100">
            <div class="command">
                <div class="command__code intel-badge">
                    <p class="text_code">SYSTEM_CONFIG_0X01</p>
                </div>
            </div>
{#            <div class="command__title">#}
{#                <h2 class="title">{{ page_title }}</h2>#}
{#            </div>#}

            <!-- Título Principal con Atributo de Datos para el Glitch -->
            <h2 class="glitch-title font-display" data-text={{ page_title }}>
                {{ page_title }}
            </h2>

        </div>
    </div>

    <!-- 3. Contenido Principal de Roles -->
{#    <div class="tactical-container w-100" style="max-width: 100%;">#}
{#        <div class="section-header">#}
{#            <div class="accent-bar"></div>#}
{#            <h3 class="section-title">LISTADO DE ROLES</h3>#}
{#            #}
{#            <!-- Botón para crear nuevo rol -->#}
{#            <a href="{{ url_for('roles.create') }}" class="btn btn--secondary btn--small ms-auto">#}
{#                <span class="material-symbols-outlined">add</span> NUEVO ROL#}
{#            </a>#}
{#        </div>#}
{##}
{#    </div>#}

    <div class="role-container">
        {% block roleContainer %}
            {%  include 'components/role-card.html' %}
        {% endblock %}
    </div>

{% endblock %}