.c-media-card {
  padding: 1rem;
  border: 1px solid var(--soft);
  border-radius: 0.5rem;
  background-color: var(--background-soft);
  box-shadow: 0 1px 3px 0 oklch(0% 0 0 / 0.1);
  transition: all 0.3s ease;
}

.c-media-card.o-media {
  gap: 1.25rem;
}

.c-media-card .o-media__figure {
  overflow: hidden;
  border-radius: 0.5rem;
  border: 1px solid var(--accent-blue-dark);
}

.c-media-card .o-media__body {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.c-media-card__title {
  margin: 0;
  font-family: "Orbitron", "Arial", monospace;
  font-size: 1.125rem;
  color: var(--text-main);
}

.c-media-card__description {
  margin: 0;
  font-family: "Rajdhani", sans-serif;
  font-size: 0.875rem;
  color: var(--text-gray);
}

.c-media-card--highlight {
  border-color: var(--accent-green);
  box-shadow: 0 0 20px oklch(from var(--accent-green) l c h / 0.5);
}
